body {
        
            font-family: 'Helvetica', 'Arial', sans-serif;
            margin: 0;
            padding: 0;
        }
        

h1 {
    align-items: center;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

#header {
    background-color: #f0f0f0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    float: left;
    width: 50px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}

nav {
    background-color: #f8f8f8; /* colore leggermente più chiaro */
    overflow: hidden;
    border-top: 1px solid #ccc; /* aggiungo una sottile linea sopra */
    border-bottom: 1px solid #ccc; /* e una sottile linea sotto */
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #333; /* colore del testo */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #ddd; /* colore leggermente più scuro al passaggio del mouse */
}

.container {
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

/* Stile per i pulsanti "Modifica" ed "Elimina" */


.modifica-btn {
    display: inline-block;
    padding: 8px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #0056b3;
}

.elimina-btn {
    display: inline-block;
    padding: 8px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: red;
}

.prenota-btn {
    display: inline-block;
    padding: 8px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #0077cc;
}

.prenota-btn:hover{
    display: inline-block;
    padding: 8px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: darkblue;
}

.capacita-btn{
    display: inline-block;
    padding: 8px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #5aa2ed;
}

.capacita-btn:hover{
    display: inline-block;
    padding: 8px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: darkblue;
}



.modifica-btn:hover{
    display: inline-block;
    padding: 8px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: darkblue;
}

.elimina-btn:hover{
    display: inline-block;
    padding: 8px 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color:darkred
}

.containerButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aggiungi-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.aggiungi-btn:hover {
    background-color: #45a049;
}

.logout-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logout-btn img {
    width: 150px;
    height: auto;
}

.logout-btn:hover img {
    filter: brightness(0.8);
}

/* Aggiungi stile per l'elemento attivo nel menu */
nav ul li.active a {
    border-bottom: 2px solid blue; /* o il colore desiderato */
}

/* Aggiungi stile per il blocco del titolo */
#header div {
    display: flex;
    align-items: center;
}
#header h1 {
    margin-left: 10px; /* Spazio tra il logo e il nome della sede */
}
.checkboxes {
    margin: 20px;
  }

  .turni-table {
    width: 100%;
    border-collapse: collapse;
  }

  .turni-table th, .turni-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }

  .turni-table th {
    background-color: #f4f4f4;
  }

  .turni-table td {
    vertical-align: middle;
  }

  .turni-table input[type="checkbox"] {
    transform: scale(1.5);
    margin: 10px;
  }
  
  #logo_base{
    height: 100px;
    width: auto;
  }

  .logo-container img {
      max-height: 100%; /* Assicurati che l'immagine si adatti all'altezza del contenitore */
  }
  
  .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px; /* Modifica l'altezza secondo necessità */
    }
    
table {
            width: 80%;
            border-collapse: separate;
            border-spacing: 0;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        th {
            background-color: #3f51b5;
            color: white;
            padding: 10px;
            text-align: left;
            font-size: 13px;
        }

        td {
            background-color: white;
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #f0f0f0;
            font-size: 14px;
        }

        tr:last-child td {
            border-bottom: none;
        }
        
        .container-sede{
            .container {
        width: 100%;
        max-width: fit-content;
        margin: 0 auto;
}
        }
