body {
            margin: 0;
            padding: 0;
        }
        
        h1 {
            align-items: center;
        }

        #header {
            background-color: #f0f0f0;
            padding: 5px;
        }

        #logo {
            float: left;
            width: 50px;
            height: auto;
            margin-right: 10px;
            margin-left: 10px;
            margin-top: 5px;
        }

        nav {
            background-color: #f8f8f8; /* colore leggermente più chiaro */
            overflow: hidden;
            border-top: 1px solid #ccc; /* aggiungo una sottile linea sopra */
            border-bottom: 1px solid #ccc; /* e una sottile linea sotto */
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            float: left;
        }

        nav ul li a {
            display: block;
            color: #333; /* colore del testo */
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav ul li a:hover {
            background-color: #ddd; /* colore leggermente più scuro al passaggio del mouse */
        }
        
        .container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
      }

      table {
        width: 100%;
        border-collapse: collapse;
      }

      th, td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: center;
      }

      th {
        background-color: #f0f0f0;
    }
    /* Stile per i pulsanti "Modifica" ed "Elimina" */
    .modifica-btn,
    .elimina-btn {
        display: inline-block;
        padding: 8px 16px;
        background-color: #4CAF50; /* Colore di sfondo verde */
        color: white;
        text-align: center;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    /* Stile per il pulsante "Modifica" */
    .modifica-btn {
        background-color: blue; /* Colore di sfondo verde */
    }

    /* Stile per il pulsante "Elimina" */
    .elimina-btn {
        background-color: #f44336; /* Colore di sfondo rosso */
    }

    /* Stile quando il cursore è sopra il pulsante */
    .modifica-btn:hover,
    .elimina-btn:hover {
        background-color: blueviolet; /* Cambia il colore di sfondo in verde più scuro quando il cursore è sopra */
    }
    .container {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        position: relative; /* Aggiunto posizionamento relativo per posizionare il bottone accanto alla tabella */
    }
    .aggiungi-btn {
        background-color: #4CAF50; /* Colore di sfondo verde */
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }

    .containerButton {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* Stile quando il cursore è sopra il pulsante */
    .aggiungi-btn:hover {
        background-color: #45a049; /* Cambia il colore di sfondo in verde più scuro quando il cursore è sopra */
    }